#form-body{
  h1{
    color: blue;
    font-size: 23px;
    margin: 20px 0;
    font-weight: bold;
    border-bottom: 1px solid #888;
  }

  form{
    background: #eee;
    padding: 20px;

    label{
      display: block;
      font-size: 18px;
      height: 30px;
    }

    input[type=text], select{
      width: 100%;
      display: block;
      height: 30px;
      margin-bottom: 10px;
      padding-left: 10px;
    }

    input[type=submit]{
      padding: 10px 20px;
      text-align: center;
    }

    .highlight{
      *{ float: left; }

      input{
        margin: 5px 5px 0 0;
      }
    }
  }
}