#home-body{
  #jobs{
    width: 70%;
    float: left;
  }

  aside{
    width: 30%;
    float: right;

    h2{
      font-size: 20px;
      line-height: 25px;
      font-weight: bold;
      text-transform: uppercase;
    }

    ul{
      width: 100%;
      margin-bottom: 20px;
      list-style-type: none;

      li{ margin: 4px 0; }
    }
  }
}
