<div id="form-body">
  <% if flash[:notice] %>
    <div class="message">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <h1>Nova Vaga</h1>

  <%= render partial: 'form', locals: { submit_tag: 'Criar Vaga' } %>
</div>
